<% include ../includes/head %>
<% include ../includes/header %>
<main class="main dashboard-estoque">
    <div class="container">
        <div class="dashboard-header">
            <h2 class="darshboard-header--title">Gerenciamento de Estoque</h2>
            <a href="/estoque/produto/cadastrar" title="Cadastrar" class="dashbaord-header--new">Cadastrar</a>
        </div>
        <div class="dashboard-content">
            <% if (products){ %>
                <div class="dashboard-content--products-header">
                    <p>Nome</p>
                    <p>Quantidade</p>
                    <p>Preço Custo</p>
                    <p>Preço Venda</p>
                </div>
                <ul class="dashboard-content--products">
                    <% for (var i = 0; i < products.length; i++){ %>
                        <li class="dashboard-content--products-product">
                            <a href="/estoque/produto/editar?produtoid=<%= products[i].id %>" title="Editar Produto">
                                <p><%= products[i].nome %></p>
                                <p><%= products[i].quantity %></p>
                                <p><%= products[i].precoCusto %></p>
                                <p><%= products[i].precoVenda %></p>
                            </a>
                        </li>
                    <% } %>
                </ul>
            <% } else { %>
                <div class="dashboard-content--empty">
                    <i class="fas fa-dizzy"></i>
                    <p>Não foi encontrado nenhum registro de produto.</p>
                </div>
            <% } %>
        </div>
    </div>
</main>
<% include ../includes/footer %>