<% include ./includes/header %>
        <main style="width:100%;">
            <div style="display:table;margin:60px auto 0;">
                <h2>Adicionar Projeto</h2>
                <form action="/projetos/salvar" method="post" style="background-color:#f2f2f2;display:table;padding:20px;margin-bottom:20px;">
                    <center>
                    <label>Título</label><br>
                    <input type="text" id="titulo" name="titulo" value="<%= projetos.titulo %>" placeholder="Titulo do Projeto" style="text-align:center;"/><br><br>
                    <label>Resumo</label><br>
                    <input type="text" id="resumo" name="resumo" value="<%= projetos.resumo %>" placeholder="Resumo do Projeto" style="text-align:center;"/><br><br>
                    <label>Desenvolvedor</label><br>
                    <input type="text" id="autor" name="autor" value="<%= projetos.autor %>" placeholder="Desenvolvedor do Projeto" style="text-align:center;"/><br><br>
                    <label>Data da entrega</label><br>
                    <input type="date" id="data_projeto" name="data_projeto" value="<%= projetos.data_projeto %>" placeholder="Data da entrega do Projeto" style="text-align:center;"/><br><br>
                    <label>Projeto</label><br>
                    <select id="projeto" name="projeto">
                        <option value="E-Commerce">E-Commerce</option>
                        <option value="Institucional">Institucional</option>
                    </select><br><br>
                    <!-- <textarea id="projeto" name="projeto" rows="5" cols="30"></textarea><br> -->
                    <input type="submit" value="Enviar Projeto" style="padding:10px 40px;"><br>
                    </center>
                </form>
                <div class="">
                    <p></p>
                    <p></p>
                    <p></p>
                </div>
                <% if (validacao){ %>
                    <ul style="display:table;text-align:left;background-color:rgb(133, 0, 0);color:#fff;padding: 15px 40px;">
                        <% for (var i = 0; i < validacao.length; i++){ %>
                            <li style="border-bottom:1px solid #fff;padding-bottom:10px;margin-top:5px;">
                                <%= validacao[i].msg %>
                            </li>
                        <% } %>
                    </ul>
                <% } %>
                <center>
                <a href="/projetos"><button style="padding:5px;">Voltar para página inicial</button></a>
                <a href="/admin/login"><button style="padding:5px;">Voltar para login</button></a><br>
                </center>
            </div>
        </main>
        <footer>
        </footer>
    </body>
</html>