<!DOCTYPE html>
<html lang="pt-br">
    <head>
        <meta charset="UTF-8"/>
        <title>Projetos - SSO</title>
        <link rel="icon" href="/static/assets/img/icon.png"/>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=0"/>
        <meta name="description" content="Criação e desenvolvimento da Web"/>
        <meta name="author" content="Search Solutions Online"/>
        <meta name="keywords" content="Site,Web,E-Commerce,Desenvolvimento,Developer,Desenvolver,Divulgacao,Marketing,Digital"/>
        <meta name="robots" content="INDEX, FOLLOW"/>
        <meta name="langague" content="Portuguese"/>
        <meta name="country" content="Brazil"/>
        <meta name="copyright" content="Search SO - © 2017"/>
        <link rel="stylesheet" href="/static/assets/fonts/font-awesome-4.7.0/css/font-awesome.min.css"/>
        <link rel="stylesheet" href="/static/plugin/slick-1.8.0/slick/slick.css"/>
        <link rel="stylesheet" href="/static/plugin/slick-1.8.0/slick/slick-theme.css"/>
        <link rel="stylesheet" href="/static/css/stylesheet.css"/>
        <script type="text/javascript" src="https://connect.facebook.net/pt-br/sdk.js"></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-1.11.0.min.js" defer></script>
        <script type="text/javascript" src="//code.jquery.com/jquery-migrate-1.2.1.min.js" defer></script>
        <script src="/static/plugin/slick-1.8.0/slick/slick.min.js" defer></script>
        <script type="text/javascript" src="/static/js/script.js" defer></script>
    </head>
     <body>
            <header>
                <div class="container">
                    <div class="row">
                        <div class="col-12">
                            <div class="menu-Pj">
                                <figure>
                                    <img src="/static/assets/img/logo.png" alt="Improving">
                                </figure>
                                <nav>
                                    <ul>
                                        <li>
                                            <a href="/">Home</a>
                                        </li>
                                        <li>
                                            <a href="#">A empresa</a>
                                        </li>
                                        <li>
                                            <a href="#">Serviços</a>
                                        </li>
                                        <li>
                                            <a href="/projetos">Portfólio</a>
                                        </li>
                                    </ul>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </header>
            <main>
                <div class="row">
                    <div class="col-12">
                        <div class="banner-pR">
                            <div class="shadow-Pj"></div>
                            <ul class="fade-Pj">
                                <li>
                                <figure><img src="/static/assets/img/back.gif" alt="Banner"/></figure>
                                </li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="corproject">
                        <div class="container">
                            <div class="row">
                                <div class="col-12">
                                    <div class="visuprojetos-PO">
                                        <h2>Portfólio</h2>
                                        <div class="projetos-PO">
                                            <% for (var i=0; i < projeto.length; i++){ %>
                                            <div class="projeto-PO">
                                                <h3><%= projeto[i].titulo %><span><%= projeto[i].projeto %></span></h3>
                                                <figure>
                                                    <img src="assets/img/projeto.png">
                                                </figure>
                                                <p><%= projeto[i].resumo %></p>
                                                <a href="/projeto?id_projeto=<%= projeto[i].id_projeto %>" class="vermais-PO">ver mais</a>
                                                <div class="desenvolvido-PO">
                                                    <p>Desenvolvido por</p>
                                                    <span><%= projeto[i].autor %></span>
                                                    <p>Data de entrega: <%= projeto[i].data_projeto %></p>
                                                </div>
                                            </div>
                                            <% } %>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
            </main>
            <footer>
                <div class="cor-Fo">
                    <div class="container">
                        <div class="row">
                            <div class="col-12">
                                <div class="personfot-Fo">
                                    <figure>
                                        <img src="assets/img/logo.png" alt="Improving">
                                    </figure>
                                    <p>
                                        Av. Dona Ana costa, 416<br>
                                        Santos - São Paulo
                                    </p>
                                </div>
                                <div class="personfot2-Fo">
                                    <ul>
                                        <li><a href="#">Home</a></li>
                                        <li><a href="#">A Empresa</a></li>
                                        <li><a href="#">Serviços</a></li>
                                        <li><a href="#">Portfólio</a></li>
                                    </ul>
                                    <a href="/admin/login">Login</a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </footer>
        </body>
</html>